Repository CodeDefenders/CodeDefenders: changes, and which Jenkins stages are due for each by the changed paths.
All: Run tests, Docker build

Run tests:
   
              agent {
                  dockerfile {
                      filename './docker/Dockerfile.test'
                      args '-v /root/.m2:/root/.m2'
                  }
              }
              steps {
                  sh 'mvn test'
              }
          

Docker build:
              agent any
              environment {
  		        DOCKERHUB_CREDENTIALS = credentials('dockerhub_access')
  	        }
              steps {
                  sh "docker build --file ./docker/Dockerfile.deploy --tag codebenders/codedefenders:${env.GIT_COMMIT} ."
  ...

Test changes to the when changeset
  Jenkinsfile
Due: Docker build

Another change
  Jenkinsfile
Due: Docker build

Change sets not working, run always!
  Jenkinsfile
Due: Docker build

Change pom.xml in dockerfile
  docker/Dockerfile.test
Due: Docker build

I should give up already bruh
  pom.xml
Due: Run tests

Why doesnt it work?
  docker/Dockerfile.test
  pom.xml
Due: Run tests, Docker build

See available poms
  Jenkinsfile
Due: Docker build

Should work
  Jenkinsfile
  docker/Dockerfile.test
Due: Docker build

Fix docker image name
  Jenkinsfile
Due: Docker build

Trying to filter only master, development and pr branches
  Jenkinsfile
Due: Docker build

Fix syntax error
  Jenkinsfile
Due: Docker build

hopefully it filters now
  Jenkinsfile
Due: Docker build

Jenkinsfile should be ready for master
  Jenkinsfile
Due: Docker build

Testing tagging as latest
  Jenkinsfile
Due: Docker build

Testing tagging as latest #2
  Jenkinsfile
Due: Docker build

Testing tagging as latest #3
  Jenkinsfile
Due: Docker build

Final jenkins for now?
  Jenkinsfile
Due: Docker build

implement proper server side validation for updating a games duration.
  src/main/java/org/codedefenders/servlets/games/battleground/MultiplayerGameSelectionManager.java
  src/main/java/org/codedefenders/servlets/games/melee/MeleeGameSelectionManager.java
Due: Run tests

Jenkins also build dev images
  Jenkinsfile
Due: Docker build

Fixing some discord notifications
  Jenkinsfile
Due: Docker build

Notify if aborted
  Jenkinsfile
Due: Docker build

create a new score calculator on every usage
  src/main/java/org/codedefenders/service/game/MeleeGameService.java
Due: Run tests

Set cookies to SameSite=none to allow iframe usage
  src/main/webapp/META-INF/context.xml
  src/main/webapp/WEB-INF/web.xml
Due: Run tests

Add /admin/api/load to get server load (battlegrond+melee+total count)
  src/main/java/org/codedefenders/servlets/admin/api/GetServerLoadAPI.java
Due: Run tests

Add /admin/api/class/upload
  src/main/java/org/codedefenders/dto/api/ClassUpload.java
  src/main/java/org/codedefenders/servlets/admin/api/UploadClassAPI.java
Due: Run tests

Added docker login to pipeline
  Jenkinsfile
Due: Docker build

Add API to check valid token
  src/main/java/org/codedefenders/dto/api/TokenPost.java
  src/main/java/org/codedefenders/servlets/admin/api/CheckTokenAPI.java
Due: Run tests

Add API to check self admin
  src/main/java/org/codedefenders/servlets/api/CheckAdminAPI.java
Due: Run tests

Scratch it all, just add an admin-only API to get self (sorry jenkins)
  src/main/java/org/codedefenders/servlets/admin/api/CheckTokenAPI.java
  src/main/java/org/codedefenders/servlets/api/CheckAdminAPI.java
Due: Run tests

Keep filename, just change directory name to alias. Removed random suffix generation since the name is supposed to be unique for every TA, so TAName_ClassName will be unique also on this side
  src/main/java/org/codedefenders/servlets/admin/api/UploadClassAPI.java
Due: Run tests

rename setting db migration
  src/main/resources/db/migrations/V14__rename_profile_admin_setting.sql
Due: Run tests

always enable user settings
  src/main/java/org/codedefenders/servlets/UserSettingsManager.java
Due: Run tests

admin settings change profile visibility, not disable it completely.
  src/main/java/org/codedefenders/servlets/UserProfileManager.java
  src/main/java/org/codedefenders/servlets/admin/AdminSystemSettings.java
  src/main/java/org/codedefenders/util/LinkUtils.java
Due: Run tests

Hide external classes from CD frontend
  src/main/java/org/codedefenders/database/GameClassDAO.java
Due: Run tests

Implement APIs to change game state
  src/main/java/org/codedefenders/servlets/admin/api/EndGameAPI.java
  src/main/java/org/codedefenders/servlets/admin/api/GraceOneGameAPI.java
  src/main/java/org/codedefenders/servlets/admin/api/GraceTwoGameAPI.java
  src/main/java/org/codedefenders/servlets/admin/api/NewGameAPI.java
Due: Run tests

Implement score handling for game info API, still need the tests and mutants overview
  src/main/java/org/codedefenders/dto/api/AttackerScore.java
  src/main/java/org/codedefenders/dto/api/DefenderScore.java
  src/main/java/org/codedefenders/dto/api/DuelsCount.java
  src/main/java/org/codedefenders/dto/api/MeleeScore.java
  src/main/java/org/codedefenders/dto/api/MeleeScoreboard.java
  src/main/java/org/codedefenders/dto/api/MultiplayerScore.java
  src/main/java/org/codedefenders/dto/api/MultiplayerScoreboard.java
  src/main/java/org/codedefenders/dto/api/MutantsCount.java
  src/main/java/org/codedefenders/dto/api/Score.java
  src/main/java/org/codedefenders/dto/api/TestsCount.java
  src/main/java/org/codedefenders/dto/api/TokenPost.java
  src/main/java/org/codedefenders/servlets/api/GameAPI.java
Due: Run tests

Path conditions:
  Run tests: (any of: src/**) or (any of: pom.xml)
  Docker build: ((any of: docker/**) or (any of: Dockerfile.*)) or (any of: Jenkinsfile)
